/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 6, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
body {
  background-color: #e3e3d7;
}

/* line 10, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
div.container {
  text-align: center;
  margin: auto;
  width: 600px;
  padding-top: 50px;
}

/* line 17, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
div.article {
  background: white;
  margin-bottom: 20px;
}

/* line 22, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
div.post-mortem {
  background: white;
  text-align: justify;
  font-family: 'Magra';
  padding: 10px 30px;
  color: #222;
  font-size: 14px;
  line-height: 1.5em;
}

/* line 32, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
img {
  width: 100%;
}

/* line 36, /Users/tpatouillaud/rails project/mmd_bye/app/assets/stylesheets/static.css.scss */
img.screen {
  padding-top: 20px;
}
