<div class="container">

	<div class="article">
		<img alt='mmd_email' src='/assets/mmd_email.png' />
		<div class="post-mortem">
			<p>
				<h2>Post-Mortem</h2>

				On Tuesday, September 2th, 2014, Pierre & I decided to say goodbye to MakeMyDay. All our users' profile have been deleted.
				<br/>
				<br/>
				As we quitted our jobs in January 2012, we had the will to change the world – enough to start your company one would say. What if we could receive notifications on local upcoming events we would love to participate in with no effort ?
				<br/>
				<br/>
				Well, we failed to achieve our goal. It’s now time to think about what went wrong:
				<br/>
				<br/>
				MakeMyDay was our first company. And the work to achieve our goal was hard. Events run with constraints of time, location and matter. One constraint is already a piece of work. Add two and you stand in front of a wall. Obviously, we spent too much effort coding and learning 'machine learning algorithms' that we forgot focusing on what would love our customers. However, work pays. MakeMyDay eventually did suggest our users pertinent events they would have loved to go to. But it turned out they had no time, and thus little interest. Friends, family, beers and movies quite fill most of our schedule, and MakeMyDay was not that useful to change one's life. Friends and family always go first. End of the story.
				<br/>
				<br/>
				Here we leave you MakeMyDay. We we will drink to your memory with friends tonight.
				<br/>
				<br/>
				PS1: there is still stuff to do with suggesting events. But we strongly think it should address to expat people.
				<br/>
				PS2: fortunately, you always encounter fellow friends in every adventure. A new one stands in front of us. Follow our upcoming project on <%= link_to "meetharvey.io", "http://meetharvey.io" %> !
				<br/>
				<br/>
				<br/>
				<div style="text-align:center">
					Any questions about MakeMyDay ?
					<br/>
					<%= mail_to "team@grooptown.com", 'Contact us' %> 
				</div>
			</p>
		</div>
	</div>

	<img class='screen' alt='mmd_home' src='/assets/mmd_home.png' />
	<img class='screen' alt='mmd_index' src='/assets/mmd_index.png' />
	<img class='screen' alt='mmd_friends' src='/assets/mmd_friends.png' />
	<img class='screen' alt='mmd_event' src='/assets/mmd_event.png' />
	<img class='screen' alt='mmd_stats' src='/assets/mmd_stats.png' />
	<img class='screen' alt='mmd_buzz' src='/assets/mmd_buzz.png' />
</div>
